examples/n8n-generate-pdf-link-workflow.json
{
  "name": "Generate PDF Download Link",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-pdf-link",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "6fd1d7e2-7f34-4d89-97be-b6d76568aa01",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ],
      "webhookId": "generate-pdf-link"
    },
    {
      "parameters": {
        "jsCode": "const payload = $json.body ?? $json;\nconst content = String(payload.content ?? payload.markdown ?? '').trim();\n\nif (!content) {\n  throw new Error('Request body must include a non-empty \"content\" field.');\n}\n\nconst serviceUrl = String($env.PDF_SERVICE_URL ?? '').replace(/\\/$/, '');\nconst apiKey = String($env.PDF_SERVICE_API_KEY ?? '');\n\nif (!serviceUrl) {\n  throw new Error('Missing PDF_SERVICE_URL environment variable in n8n.');\n}\n\nif (!apiKey) {\n  throw new Error('Missing PDF_SERVICE_API_KEY environment variable in n8n.');\n}\n\nreturn [\n  {\n    json: {\n      content,\n      serviceUrl,\n      apiKey\n    }\n  }\n];"
      },
      "id": "bd8127f8-ddf4-48ca-8e75-87a12b2e6f44",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.serviceUrl + '/upload'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{$json.apiKey}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { content: $json.content } }}",
        "options": {}
      },
      "id": "de15a370-6560-4b5c-a38b-5d8119485317",
      "name": "Create PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, id: $json.id, url: $json.url, created_at: $json.created_at, expires_at: $json.expires_at, expires_in_seconds: $json.expires_in_seconds } }}",
        "options": {
          "responseCode": 201
        }
      },
      "id": "adbaf77f-31c0-44ab-b7bd-3bb9f355e2cb",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        1040,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Create PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create PDF": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "0ac6fba8-5b4c-4648-9fbc-f12f95ec407d",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "generatePdfDownloadLinkWorkflow",
  "tags": []
}
