examples/n8n-generate-pdf-tool.json
{
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "content"
            }
          ]
        }
      },
      "id": "f3c2ac8c-a339-4eba-8e15-fe3b80d3c80e",
      "name": "When Called by AI Agent",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        1952,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $json;\nconst content = String(payload.content ?? payload.markdown ?? '').trim();\n\nif (!content) {\n  throw new Error('Input must include a non-empty \"content\" field.');\n}\n\nreturn [\n  {\n    json: {\n      content\n    }\n  }\n];"
      },
      "id": "905deef4-89bb-4e8f-9b67-720ad4933aaa",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2224,
        96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://pdf.example.com/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "=example_api_key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { content: $json.content } }}",
        "options": {}
      },
      "id": "265048c9-e97b-4d93-8e17-220a1a527c9a",
      "name": "Create PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2480,
        96
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "out-1",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "out-2",
              "name": "url",
              "value": "={{ $json.url }}",
              "type": "string"
            },
            {
              "id": "out-3",
              "name": "created_at",
              "value": "={{ $json.created_at }}",
              "type": "string"
            },
            {
              "id": "out-4",
              "name": "expires_at",
              "value": "={{ $json.expires_at }}",
              "type": "string"
            },
            {
              "id": "out-5",
              "name": "expires_in_seconds",
              "value": "={{ $json.expires_in_seconds }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "12f1e620-125c-4a7d-bc59-e7c96ecaad10",
      "name": "Format Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2736,
        96
      ]
    }
  ],
  "connections": {
    "When Called by AI Agent": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Create PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create PDF": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "b51d403cc273365b00b090773c9c26d68322a552bf43e5c04809ebac3738d3d1"
  }
}